<main>
  <div class="intro" id="intro">
    <div class="texto" @iniciar >
       <h1 > Michael Robayo <br> Desarrollador <span>Web</span> & <span>freelancer</span> </h1>
       <p >Tecnólogo en el desarrollo de sitios web, en constante crecimiento personal y adquiriendo nuevos conocimientos cada día sobre el mundo del desarrollo web full stack</p>
       <div class="botones"  >
        <a href="#section5"><button>Contacto</button></a>
        <a href="#section4"><button>Trabajos</button></a>
        
       </div>
    </div>
    <div class="imagen" @iniciar>
      
        <img class="img1" src="../../../assets/img/FB_IMG_1634696517057 (1).jpg" alt="imagen de perfil">
      
    </div>
  </div>
  <section id="section2" >
     <h2>SOBRE MI</h2>
     <article class="about">
        <div class="izquierda">
          <p>Fecha de nacimiento: <strong> 10-10-2000</strong></p>
          <p>Nacionalidad: <strong> Colombiana</strong></p>
          <p>Experiencia: <strong> 1 año</strong></p>
          <p>Recidencia: <strong> Bogota D.C</strong></p>
          <p>idioma: <strong>Español Nativo - Ingles-A2</strong></p>
          <a href="../../../assets/document/HOJA DE VIDA MICHAEL ROBAYO.pdf" download="Hoja de vida Michael Robayo" ><button>DESCARGAR MI CV</button></a>
          
        </div>
        <div class="derecha">
           <ul>
            <li>  Desarrollo web</li>
            <li>Desarrollador Back-end </li>
            <li>Diseñador gráfico</li>
            <li>Desarrollador Front-end </li>
            <li>Desarrollo responsivo</li>
           </ul>
        </div>
     </article>
      <article class="habilidades" >
        <h2>HABILIDADES</h2>
        
        <div class="cuadrado html">
          <p>90%</p>
          <p>Html</p>
        </div>
        <div class="cuadrado css">
          <p>90%</p>
          <p>Css</p>
        </div>
        <div class="cuadrado sass">
          <p>40%</p>
          <p>Sass</p>
        </div>
        <div class="cuadrado javascript">
          <p>70%</p>
          <p>Javascript</p>
        </div>
        <div class="cuadrado Angular">
          <p>53%</p>
          <p>Angular</p>
        </div>
        <div class="cuadrado Photoshop">
          <p>80%</p>
          <p>photoshop</p>
        </div>
        <div class="cuadrado illustrator">
          <p>80%</p>
          <p>illustrator</p>
        </div>
        <div class="cuadrado XD">
          <p>60%</p>
          <p>XD</p>
        </div>
        <div class="cuadrado After">
          <p>65%</p>
          <p>after effect</p>
        </div>
        
        
      </article>
  </section>
  <section class="section3" id="section3" >
    <article class="servicios" >
      <h2>SERVICIOS
      </h2>

          <div class="tarjeta web">

            <img src="../../../assets/img/icons8-web-64.png" alt="icono de web">
             <h3>Desarrollo web</h3>
              <p>Creación y desarrollo de sitios web responsivos adaptados a las diferentes pantallas, sitios adaptados a la necesidad del cliente, brindando asesoramiento y mantenimiento de los sitios web  </p>
          </div>

          <div class="tarjeta diseño">
             
             <img src="../../../assets/img/icons8-web-design-64.png" alt="icono de web design">

            <h3>Diseño web & Diseño gráfico</h3>
            <p>Diseño de sitios web adaptados a cada necesidad, diseño de piezas gráficas, publicidad, creación de logos y marcas personales.</p>
         </div>

    </article>
  </section>
  <section class="section4"  id="section4">
      <h2>PORTAFOLIO</h2>
      <div class="trabajos">
        
        <div class="card-tarjeta">
          <a href="https://productpage-angular.netlify.app/" target="_blank" >
            <img src="../../../assets/img/page-product.PNG" alt="trabajo numero uno">
           </a>
        </div>
        <div class="card-tarjeta">
          <a href="https://todo-app-main-js-sortable.netlify.app" target="_blank" >
            <img src="../../../assets/img/page-todo.PNG" alt="lista de tareas ">
           </a>
        </div>
        <div class="card-tarjeta" >
           <a href="https://chic-otter-b4336a.netlify.app/" target="_blank" >
            <img src="../../../assets/img/pagina-home.PNG" alt="pagina home trabajo reciente">
           </a>
          
        </div>
        <div class="card-tarjeta" >
          <a href="https://coming-soon-master-js.netlify.app/" target="_blank" >
           <img src="../../../assets/img/page-comming.PNG" alt="pagina cooming soon trabajo reciente">
          </a>
         
       </div>
       <div class="card-tarjeta" >
        <a href="https://sunnyside-agency-landing-page-main-menu.netlify.app/" target="_blank" >
         <img src="../../../assets/img/landing page.PNG" alt="landing pague trabajo reciente">
        </a>
       
     </div>
     <div class="card-tarjeta" >
      <a href="https://pricing-component-with-toggle-master-no-js.netlify.app/" target="_blank" >
       <img src="../../../assets/img/precios.PNG" alt="pagina de precios  trabajo reciente">
      </a>
     
   </div>
      </div>
  </section>
  <section class="section5" id="section5" >
     <h2>CONTACTO</h2>
     <div class="contenido">
         <div class="telefono">
           <img src="../../../assets/img/icons8-mensaje-de-telefono-64.png" alt=" icono de telefono">
          <h3>WHATSAPP</h3>
          <p>(+57)3204993784</p>
         </div>
         <div class="Correo">
          <img src="../../../assets/img/icons8-gmail-64.png" alt=" icono de correo">
          <h3>CORREO</h3>
          <p>michaelsrd02@gmail.com</p>
         </div>
     </div>
  </section>

</main>
<div class="footer">
  <div class="contenedor">
    <div class="logo">
      <p>M.R</p>
    </div>
   <div class="footer-bar">
     <a href="#intro">Inicio</a>
     <a href="#section2">Sobre mi</a>
     <a href="#section4">Portafolio</a>
     <a href="#section5">Contacto</a>
     <p>&copy; 2022 Michael Robayo. Todos los derechos reservados</p>
   </div>
   <div class="redes">
    <a href="https://github.com/MichaelSRD"> <img src="../../../assets/img/icons8-github.svg" alt="icono de github"></a>
    <a href=""><img src="../../../assets/img/icons8-twitter.svg" alt="icono de twiter"></a>
    <p>gmail: michaelsrd02@gmail.com</p>
  </div>
  </div>

</div>
